# Compiled object files
*.ko
*.o
*.mod.*

# Generated objects (source, executables, tarballs, etc.)
a.out
cli/x52cli*
test/x52test*
util/util_char_map.c
util/x52charmapgen*
libusbx52/x52test*
x52pro-linux-*.tar.gz

# Module files
modules.order
Module.symvers
.*.cmd
.tmp_versions

# Vim swap files
.*.swp

# Autotools objects
.deps
.dirstamp
.libs
ar-lib
autom4te.cache
m4
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
Makefile
Makefile.in
*.la
*.lo
*.m4
test-driver

