# Compiled object files
*.ko
*.o
*.mod*

# Generated objects (source, executables, tarballs, etc.)
a.out
utils/cli/x52cli*
utils/test/x52test*
utils/evtest/x52evtest*
lib/libx52util/util_char_map.c
util/x52charmapgen*
lib/libusbx52/x52test*
udev/*.rules
daemon/x52d*
!daemon/x52d_*.*
x52pro-linux-*.tar.gz

# Module files
modules.order
Module.symvers
.*.cmd
.tmp_versions

# Vim swap files
.*.swp

# Autotools objects
.deps
.dirstamp
.libs
ar-lib
autom4te.cache
m4
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
Makefile
Makefile.in
*.la
*.lo
*.m4
stamp-h1
tap-driver.sh
test-driver
tests/test-suite.log
tests/**/*.log
tests/**/*.trs
*.pc

# Autotools Gettext objects
po/Makevars.template
po/*.in
po/*.sin
po/*.sed
po/*.header
po/Rules-quot
ABOUT-NLS
po/*.gmo
po/*.mo
po/POTFILES
po/stamp-po

# Doxygen files
Doxyfile
docs/.stamp
docs/html
docs/man

# Build directory
/build/
